<!DOCTYPE html>
<html>
    <body>
        <%- include("../utils/print") %>
        <% let outerIndex = 0; let hayAgentes = true; %>
        <table>
        <% while (hayAgentes) { %>
            <% if (outerIndex+1 !=1 && (outerIndex+1) % 10 == 1) { %>
            <% } %>     
            <tr>
            <% for (var i = 0; i < 2; i++) { %>
                <% if (agentes.length > outerIndex) { %>
                    <td>
                        <%- include('credencial', {agente: agentes[outerIndex], funcion:funciones[outerIndex], servicio:servicios[outerIndex], foto:srcImgCredenciales[outerIndex], srcImgLogoSmall:srcImgLogoSmall}) %>            
                    </td>
                <% } else { %>
                    <% hayAgentes = false %>
                <% } %>

                <% outerIndex++ %>
            <% } %> 
            </tr>
        <% } %>
        </table>    
    </body>
</html>