<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/static/css/style.scss">
    </head>
    <body>
        <%- include("../utils/print") %>
        <% let outerIndex = 0; let hayAgentes = true; %>
        <table>
        <% while (hayAgentes) { %>
            <% if (outerIndex+1 !=1 && (outerIndex+1) % 8 == 1) { %>
                <tr class="credencial-salto-pagina"></tr>
                <tr class="credencial-salto-pagina"></tr>
                <tr class="credencial-salto-pagina"></tr>
            <% } %>     
            <tr>
            <% for (var i = 0; i < 2; i++) { %>
                <% if (agentes.length > outerIndex) { %>
                    <td>
                        <%- include('credencial', {agente: agentes[outerIndex], funcion:funciones[outerIndex], servicio:servicios[outerIndex], foto:srcImgCredenciales[outerIndex], srcImgLogo:srcImgLogo}) %>            
                    </td>
                <% } else { %>
                    <% hayAgentes = false %>
                <% } %>

                <% outerIndex++ %>
            <% } %> 
            </tr>
        <% } %>
        </table>    
    </body>
</html>