# Archivos de configuración
.env

# Logs
logs
**/*.log
**/*.log*

# Javascript
**/*.js
**/*.map
*.js
**.js
*.map
**.map

!swagger/static*/*.js

# Dependency directories
node_modules
typings
typings/*
.vscode

# Exceptions
!**/mongoose-plugin-audit/auditModel.js
!**/mongoose-plugin-audit/index.js