<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Header -->
    <header id="pageHeader">
        <!-- Cabezal logos institucionales -->
        <section class="contenedor-logos">
        </section>
        <section class="contenedor-fechaHora">
            <!-- FechaHora -->
        </section>
    </header>
    <!-- END Header -->
    <!-- Body -->
    <main>
        <section class="contenedor-nota">
            <!-- Informe -->
        </section>
    </main>
    <!-- END Body -->
    <!-- Footer -->
    <footer id="pageFooter">
        <!-- Firmas -->
        <div><p> Nota: LA APROBACION ESTA SUPEDITADA A CONTROL DE MEDICINA LABORAL</p> </div>
        <div><p> <strong>Firma de recepcion Serv. de Personal</strong> </p></div>
        <hr>
        <span class="contenedor-zocalo">
            <span class="numeracion">
                <small>{{page}}</small> de
                <small>{{pages}}</small>
            </span>
        </span>
    </footer>
    <!-- END Footer -->

</body>

</html>