table {
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

h1 {
   margin-bottom: 0.5rem; 
}
.header-recargo td {text-align:center; font-weight: bold;}

.border-cell td {border-width: 1px;text-align:left;vertical-align:top}
.tgw  {width: 100%;}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg tr { border-width: 0px; border-style: solid}
.tg td{
    font-family:Arial, sans-serif;
    font-size:12px;
    vertical-align: middle;
    padding:5px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-xq07{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-266k{background-color:#9b9b9b;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-width:0px;text-align:left;vertical-align:top}
.tg tr > .tg-0pky:last-child {border-width:0px 1px 0px 0px }
.tg .tg-tf2e{text-align:left;vertical-align:top}
.tg .tg-hl{ border-bottom: 0px; border-left: 0px}
.tg tr > .tg-hl:first-child{ border-right: 0px;}
.m0{margin: 0px}
.bold {font-weight:bold}
.no-border {border: none !important}
.no-border td {border: none !important}
.legajo td{
    padding:10px 5px 5px;
}
