
.credencial-salto-pagina{
    height: 10px;
}
.container {
    margin: 0px 10px 2px 10px;
    background-color: #0d3c82;
    width: 255px;
    color: white;
    text-transform: uppercase;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    // border: 1px solid black;
    .credencial {
        padding: 5px 0px 3px 0px;
    }

    h1 {
        font-size: 14px;
    }

    h5 {
        font-size: 9px;
    }

    .header {
        margin-top: 5px;
        padding: 5px 0px;
        font-size: 10px;
        text-align: center;
        background-color: black;
    }

    .body {
        margin: 5px;
        text-align: left;
        
    }

    .foto {
        width: 63px;
        height: 75px;
        float: left;
        margin-right: 5px;
        border: 1px solid black;
    }
    
    .servicio {
        text-transform: capitalize;
    }

    .break {
        clear: both;
        padding-top:10px ;
    }

    .footer{
        background-color: black;
        padding-right: 5px;
        text-align: right;
        img {
            height: 10px;
        }
    }
    
}
