<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body style="margin:30px 25px;">
        <h1>Licencias</h1>
        <style type="text/css">
            .tgw  {width: 100%;}
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
            .tg .tg-xq07{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top}
            .tg .tg-266k{background-color:#9b9b9b;border-color:inherit;text-align:left;vertical-align:top}
            .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
            .tg .tg-tf2e{text-align:left;vertical-align:top}
            .m0{margin: 0px}
            .bold {font-weight:bold}
            </style>
            <%- include("../utils/print") %>
            <% for (const grupo of gruposAgente) { %>
            <table class="tg tgw">
                <!-- HEADER  -->
                <tr> 
                    <th class="tg-266k" colspan="<%= (anios.length * 2) + 5 %>">
                        <h2 class="m0">Agrupamiento: <%= value(grupo._id) %></h2>
                    </th>
                </tr>
                <!-- SUBHEADER  -->
                <tr> 
                    <td class="tg-xq07" rowspan="2"><h3 class="m0">Numero</h3></td>
                    <td class="tg-xq07" rowspan="2"><h3 class="m0">Documento</h3></td>
                    <td class="tg-xq07" rowspan="2"><h3 class="m0">Nombre</h3></td>
                    <% for (const anio of anios) { %>
                        <td class="tg-xq07" colspan="2"><h3 class="m0"><%= anio %></h3></td>    
                    <% } %>
                    <td class="tg-xq07" colspan="2"><h3 class="m0">Totales</h3></td>
                </tr>
                <tr> 
                    <% for (const anio of anios) { %>
                        <td class="tg-xq07"><h3 class="m0">Tomados</h3></td>
                        <td class="tg-xq07"><h3 class="m0">Resto</h3></td>
                    <% } %>
                        <td class="tg-xq07"><h3 class="m0">Tomados</h3></td>
                        <td class="tg-xq07"><h3 class="m0">Resto</h3></td>
                </tr>
                <!-- DATA  -->
                
            </table>
            <br>
        <% } %>

    </body>
</html>