<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body style="margin:30px 25px;">
        <h1>Ausencias. Totales por Articulo</h1>

    </body>
</html>