<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body style="margin:30px 25px;">
        <h1>Legajos de Agentes</h1>
        
            <!-- Datos Personale --> 
            <style type="text/css">
            .tgw  {width: 100%;}
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
            .tg .tg-xq07{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top}
            .tg .tg-266k{background-color:#9b9b9b;border-color:inherit;text-align:left;vertical-align:top}
            .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
            .tg .tg-tf2e{text-align:left;vertical-align:top}
            .m0{margin: 0px}
            .bold {font-weight:bold}
            </style>
            <% for (const legajo of legajos) { %>
            <table class="tg tgw">
                <tr>
                    <th class="tg-266k" colspan="2"><h2 class="m0"><%= legajo.header %></h2></th>
                </tr>
                 <% for (const info of legajo.datos) { %>
                    <tr>
                        <td class="tg-xq07" colspan="2"><h3 class="m0"><%= info.subheader %></h3></td>
                    </tr>
                    <% for (const row of info.rows) { %>
                        <tr>
                            <% for (const col of row.cols) { %>
                                <td class="tg-0pky"><%= col.key %> <span class="bold"><%= col.valor %></span></td>
                            <% } %>  
                            </tr>
                    <% } %> 
                <% } %>
            </table>
            <br>
        <% } %>
    </body>
</html>